ul, ol{
	list-style : none;
}

a:link, a:visited{
	text-decoration : none;
}

.heading-pri{
	color : #010101;
	font-size : 32px;
	font-weight : 500;
	margin : 0 0 20px 0;
	padding-top : 75px;
}


.heading-sec{
		font-size : 20px;
		color : #313841;
		margin-bottom : 25px;
	
}

